Source: ros-indigo-genpy
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin (>= 0.5.78), ros-indigo-genmsg
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-genpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-genmsg
Description: Python ROS message and service generators.
